<?xml version="1.0" encoding="UTF-8"?>
<server description="test server">
  
  <featureManager>	
	<feature>ejbLite-3.2</feature>  <!-- jndi-1.0 -->
	<feature>jaxrs-2.0</feature>   <!-- json-1.0,jaxrsClient-2.0,servlet-3.1 --> 
	<feature>cdi-1.2</feature>
	<feature>jpa-2.1</feature> <!-- jpaContainer-2.1 ,jndi-1.0 , jdbc-4.1 -->
  </featureManager>

  <httpEndpoint host="*" id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" />

  <applicationManager autoExpand="true" />
  <applicationMonitor updateTrigger="mbean" />

  <dataSource id="H2DataSource" jndiName="jdbc/h2" type="javax.sql.DataSource">
    <jdbcDriver libraryRef="H2_JAR" javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource" javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource" />
    <properties URL="jdbc:h2:tcp://localhost:8090/mem:test" user="test" password="test" databaseName="test" />
  </dataSource>

  <library id="H2_JAR">
    <fileset dir="${shared.resource.dir}/h2" />
  </library>

  <executor name="LargeThreadPool" id="default" coreThreads="100" maxThreads="150" keepAlive="5s" stealPolicy="STRICT" rejectedWorkPolicy="CALLER_RUNS" />
  <application id="Gradle___users_war__exploded_" location="D:\kevin\projects\jee-vs-spring\JEE\build\libs\exploded\users.war" name="Gradle___users_war__exploded_" type="war" context-root="/users" />
  
  
</server>

