.idea/**
.gradle/**
**/build/**
**/bin/**
**/.checkstyle
**/.classpath
**/.project
**/.settings
**/*.iml
*.iml
/build/
**/.idea/**
/.gradle
/gradle
**/out/**
out/**
out


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

